.card-title {
    margin-top: 12px;
}

.tooltipDiv {
    cursor: help;
}

.card{
    /* overflow: hidden; */
}

.input-group .input-group-text,
.navbar  .navbar-brand {
    white-space: normal;
}
.input-group .input-group-prepend {
    max-width: 50%;
}

.input-group .form-control {
    height: auto;
}
